:root {
  --primary-color: #451460;
  --primary-hover: #390061;
  --primary-active: #1b012e;

  --nav-link-color: #6722bd;
  --nav-link-hover: #390061;

  --logout-color: #6f62c1;
  --logout-hover: #6722bd;

  --text-color: #ffffff;
  --error-color: #d9534f;
  --background-color: #ffffff;
  --border-radius: 8px;

  --brand-title: #390061;
}

/* :root {
  --primary-color: #3295ff;
  --primary-hover: #3295ff;
  --primary-active: #0056b3;

  --nav-link-color: #3295ff;
  --nav-link-hover: #3295ff;

  --logout-color: #3295ff;
  --logout-hover: #0056b3;

  --text-color: #ffffff;
  --error-color: #d9534f;
  --background-color: #ffffff;
  --border-radius: 8px;

  --brand-title: #0056b3;
} */
